body{
    overflow-x: hidden;

}

.banner{
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
       
    
}
.banner img{
    height: 100%;
    width: 100%;
    background-blend-mode: multiply;
    background-color: #1dc2ef;

}
.banner hr{
    height: 3px;
    background-color: #ff9800;
    margin: 0px;
}
.for-you .row .col{
    height: 300px;
    width: 100px !important;
    text-align: center;
}
.for-you .row .col img{
    height: 100%;
    margin-top: 50px;

}
.for-you .row .col h1{
    font-weight: bold;
    color: rgb(33, 32, 70);
    margin: 0px;
    font-size: 4vw;
}
.for-you .row .col p{
    font-weight: bold;
    color: rgb(64, 63, 94);
    margin: 0px;
    font-size: 25px;

}

.our-alumini{
    background-color: #333;
    height: auto;
    width: 100%;
    margin-top: 150px;
}
.our-alumini .row .col-md-3 .content {
    height: 100px;
    width: 100px;
    margin: 150px 100px 150px 100px;
}
.our-alumini .row .col-md-3 .content img{
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial;
    padding: 25px;
    background-color: #f5f5f5;
    color: #808080;
        text-align: center;	
  }
  
  /*-=-=-=-=-=-=-=-=-=-=-=- */
  /* Column Grids */
  /*-=-=-=-=-=-=-=-=-=-=-=- */
  
  .col_half { width: 49%; }
  .col_third { width: 32%; }
  .col_fourth { width: 23.5%; }
  .col_fifth { width: 18.4%; }
  .col_sixth { width: 15%; }
  .col_three_fourth { width: 74.5%;}
  .col_twothird{ width: 66%;}
  .col_half,
  .col_third,
  .col_twothird,
  .col_fourth,
  .col_three_fourth,
  .col_fifth{
      position: relative;
      display:inline;
      display: inline-block;
      float: left;
      margin-right: 2%;
      margin-bottom: 20px;
  }
  .end { margin-right: 0 !important; }
  /* Column Grids End */
  
  .wrapper { width: 980px; margin: 30px auto; position: relative;}
  .counter { background-color: #ffffff; padding: 20px 0; border-radius: 5px;}
  .count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
  .count-text { font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
  .fa-2x { margin: 0 auto; float: none; display: table; color: #4ad1e5; }
  

