body{
  overflow-x: hidden;
  
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  height: auto;
  overflow: none;
  margin-top:20px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 20px;
  text-decoration: none;
  text-align:center;
  font-size:17px;

}
 
.sidebar a.active {
  background-color: #ff9800;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/* top header css is on top-header.css */
/* navbar css is on navhome.css */
/* whole container of the page */
   .container-fluid h1{
    font-weight: bold;
    padding-top: 50px;
  }
  /* <Onclick image on te gallery  */
  
  .embed-responsive iframe{
    height:100%;
    width:100%;
  }
  .hover{
    height:100%;
    width:100%;
  }
  .banner{
    background-color:#ff9800b8;
    height: 250px;
    width: 100%;
    color: white;
  }

#client{
  background-image: url('https://homebusinessmag.com/wp-content/uploads/2018/04/Depositphotos_151249562_m-2015.jpg');
  height:250px;
  background-size: cover;
  color: black;
  background-repeat: no-repeat;
  /* width:100vh; */
}
.counter-overlay {
  position: absolute;
  width: 96.2% !important;
  height: 250px;
  background: #974930a8;
  }

  

  .banner p{
    text-align: center;
	font-size: 17px;
	margin-bottom: 4%;
	font-family: 'Kanit', sans-serif;


  }
  
  
 
  /* outside image of the gallery */
  .img-fluid{
   border-radius:5%;
   opacity: 1;
   display: block;
   transition: .5s ease;
   backface-visibility: hidden;
  }
  
  .hover .img-fluid{
    height:100%;
    width:100%;
  }
  
  /* on hove text on image div */
  .middle {
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 35%;
   left: 36%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
  }
  
  
  .hover:hover .img-fluid {
   opacity: 0.3;
  }
  .hover:hover .middle {
   opacity: 1;
  }
  /* text written on hover */
  .text{
   position:absolute;
   font-weight:bolder;
  }
  @media only screen and (max-width: 600px) {
    .col-md-6{
      text-align:center;
  
    }
    .container-fluid h1{
      padding-top: 0px;
    }
    .banner{
      height: auto;
    }
    .banner p{
      font-size: 15px;
    }
    .counter-overlay{
      width:86% !important;
    }
    

  
  }