
body{
  overflow-x: hidden;
}

/* top header css is on top-header.css */
/* navbar css is on navhome.css */
/* box shadow of contzct form */
#contact-form{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}


/* Enquiery text  */
.col-md-7 h4{
  font-family: 'Lemonada', cursive;


}
/* contact-information */
.col-md-5{
  background-color: rgb(0 0 0 / 21%);
  
}
/* hub it group pvt ltd boder bottom */
hr{
  background-color: #51be78;
  height: 2px;
  width: 20%;
}

/* contact information text div */
.contact-information{
  text-align: center;
  font-family: 'Lemonada', cursive;
  font-size: larger;
  margin-top:10px ;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;

  

}
/* Contact details */
.information {
  font-size: 15px;
  font-weight: bold;
  line-height: 2rem;
  margin-top: 7px;


}
/* <hubitpvtltd text   */
.c-name{
  text-align: center;
  border-bottom: 2px solid rgb(7, 134, 75);
}
.contact-list{
  margin-top: 5%;
}
/* Enquiry button */
.btn{
  width: 40%;
  margin-left: 30%;
  font-size: 25px;
  background-color: #51be78;
  border: none;
}
.btn:hover{
  background-color: green;
}
#heading {
  text-align:center;
  margin-top:20px;
}

@media (min-width: 0) and (max-width: 768px) {
  hr{
    width: 70%;
  }
}





























/* 
#head{
background-color: #082941;
width: 100%;
}


.top-header{
height:25px; 
width:100%;
background-color:#19dded73;
color: #082941;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.icon-social{
    color: #082941;
    padding-left: 5px;

}
.nav-item:hover{
border: 1px solid white;
border-radius: 5px;
}

.nav-item{
color: white;
font-size: 17.6px;


}
.navbar-nav{
width: 100%;
display: flex;
justify-content: flex-end;
}

@media (min-width: 0) and (max-width: 768px) {
.navbar-nav{
  width: 100%;
}
}

@media (min-width: 0) and (max-width: 768px) {
.navbar-collapse{
  display: flex;
justify-content: flex-start;
}
} */


/* 
#image{
width: 200px;
height: 80px;
}

#image img{
height: 100%;
width: 100%;
}

@media (min-width: 0) and (max-width: 768px) {
#image{
width: 150px;
height: 80px;
margin-right: 50px;
}
}

.rib{ 
color: white;
font-weight: bold;
font-family: sans-serif;
padding-top: 3px;
padding-bottom: 3px;
text-align: center;
font-size: 1rem;
}

.non img{
height: 250px; 
width: 100%;
}

#topper{
top: 0px; 
background-color: rgba(0,0,0,0.5);
position: absolute;
width: 100%;
height: 250px;
}


.det img{
height: 110px; 
width: 100%;
animation-name: image;
animation-duration: 5s;
animation-iteration-count: infinite;
}

@media (min-width: 0) and (max-width: 768px) {
.det img{
  height: 100px;
  width: 100px;
}
}

@media (min-width: 768px) and (max-width: 1200px) {
.det img{
  height: 100px;
  width: 100px;
}
}

@keyframes image{
0%{transform: rotate(360deg);}
25%{transform: rotate(0deg);}
50%{transform: rotate(0deg);}
75%{transform: rotate(0deg);}
100%{transform: rotate(-360deg);}
}


.contact-form{
  border: 5px solid darkslategray;
}
.contact-form .form-control{
  border-radius:1rem;
}

.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: black;
}
.contact-form .btnContact {
  border: none;
  border-radius: 1rem;
  padding: 5%;
  background: #343a40;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-left: 10%;
} */
