.banner{
    height: 400px;
    background-color: rgba(143, 240, 164, 0.795);
}
.banner h1{
    text-align: center;
    padding-top: 50px;
    color:#ffca07;
    
}
.search-container{
    text-align: center;
    margin-top: 50px;
}
.search-container input{
    border: none;
    width: 50%;
    height: 60px;
    border-radius: 10px;
    padding-left: 40px;
    outline:none;
}
.search-container button{
    height: 60px;
    width: 100px;
    border: none;
    background-color:#ffca07;
    border-radius: 10px;
    outline: none;
    
}
.search-container button:hover{
    opacity: 0.6;
}
.body{
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
}
.body h3{
    color:#ffca07 ;
    text-align: center;
    
}
 .faq-training .col-md-3 ul{
     padding-left: 120px;

}
.faq-training .col-md-3 ul li a:hover{
    color:#ffca07 ;
}

.faq-training .col-md-3 h5 {
    text-align: center;
    font-weight: bold;

}
.faq-general .col-md-2 h5 {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;

}
.faq-general .col-md-2 ul li a:hover {
    color:#ffca07 ;
}

