html{

    zoom: 80%;
    
    }

footer {
    background-color: white;
    color:black;
}
.icon{
    font-size: 30px;
    padding-left: 5px;
}
ul li  {
    list-style: none;
}

@media (min-width: 0) and (max-width: 768px) {
    ul li  {

    text-align: center;

}



.form-group{
    text-align: center;
}
}

@media only screen and (max-width: 768px) {

    .footer-contact{
        text-align: center;
        margin-right: 10px !important;
    }
}



@media only screen and (max-width: 766px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }




#footer-list li a{
    color: black;
    font-weight: bolder;
    
}
#footer-list li a:hover{
    color:#51be78;
}
.link-footer
{
 font-size: 12px;
}

@media only screen and (min-width: 766px) {
.products{
    margin-left: 40px !important;
}
.col-md-2{
    margin-right: 0px !important;


}

}

@media (min-width: 992px){
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 22 0 0%;
    max-width: 25%;
}

}



.icon{
color: #51be78;
}

@media (min-width: 0px) and (max-width: 800px) {
    body{
        zoom: 90%;
    }
}



