html{

    zoom: 80%;
    
    }

footer {
    background-color: white;
    color:black;
}
.header{
    text-align: right;
}
h6{
    color: #ff9800;
}
.icon{
    color: #ff9800;
    }
.icon{
    font-size: 30px;
    padding-left: 5px;
}
ul li  {
    list-style: none;
}

#footer-list li a{
    color: black;
    font-weight: bolder;
    
}
#footer-list li a:hover{
    color:#ff9800;
}
.link-footer
{
 font-size: 12px;
}


.bottom-footer li{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 20px;



}
.bottom-footer li a{
    color: black;
}


@media only screen and (max-width: 766px) {

.col-md-2{
    margin-right: 0px !important;


}
.footer-contact{
    text-align: center;
    margin-right: 10px !important;
}
ul li  {

    text-align: center;

}
.form-group{
    text-align: center;
}

}

@media (min-width: 992px){
.col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 22 0 0%;
    max-width: 25%;
}

}
@media (min-width: 0px) and (max-width: 800px) {
    body{
        zoom: 90%;
    }
}
@media (min-width: 768px){
    .col-md-1{
        
            flex: 20 0 8.333333%;
            max-width: 12.333333%;
        }

    }

    @media (min-width:600px) and (max-width: 768px) {
        .link {
            margin-left: 50px;
        }
        .ittraining {
            margin-left: 50px;
            flex: 25 0 8.333333%;
            max-width: 30.333333%;
        }
        .services {
            margin-left: 50px;
        }
        .products {
            margin-left: 50px;
        }
        .contact{
            text-align: center !important;
            margin-top: 20px;
           
        }
        .contact ul{
            margin-right: 35px !important;

        }


    }
    @media (min-width:0px) and (max-width: 500px) {
        .products{
            width: 50%;
            
        }
        .services{
            width: 50%;
        }
        .ittraining{
            width: 100%;
            flex: auto;
        }
        .ittraining .row .col-md-4{
            width: 30%;
            margin-left: 25px;
        }
        .bottom-footer li{
            text-align: center;
            margin:15px;


        }
        .header{
            text-align: center;
            width: 100% !important;
        }
    }


