footer {
    background-color: white;
    color:black;
}
.icon{
    font-size: 30px;
    padding-left: 5px;
}
ul li  {
    list-style: none;
}

@media (min-width: 0) and (max-width: 768px) {
    ul li  {

    text-align: center;

}

.form-group{
    text-align: center;
}
}

@media only screen and (max-width: 768px) {

    .footer-contact{
        text-align: center;
        margin-right: 10px !important;
    }
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }




#footer-list li a{
    color: black;
    font-weight: bolder;
    
}
#footer-list li a:hover{
    color:#51be78;
}
.link-footer
{
 font-size: 12px;
}

.icon{
color: #51be78;
}
