body{
  overflow-x: hidden;
  
}
/* top header css is on top-header.css */
/* navbar css is on navhome.css */
/* whole container of the page */
   .container-fluid h1{
    font-weight: bold;
    padding-top: 50px;
  }
  /* <Onclick image on te gallery  */
  
  .embed-responsive img{
    height:100%;
    width:100%;
  }
  .hover{
    height:100%;
    width:100%;
  }
  .banner{
    background-color:#ff9800b8;
    height: 250px;
    width: 100%;
    color: white;
    
  }
  .banner p{
    text-align: center;
	font-size: 1.5vw;
	margin-bottom: 4%;
	font-family: 'Kanit', sans-serif;


  }
  
  
 
  /* outside image of the gallery */
  .img-fluid{
   border-radius:5%;
   opacity: 1;
   display: block;
   transition: .5s ease;
   backface-visibility: hidden;
   
   
   
  
  
  }
  
  .hover .img-fluid{
    height:100%;
    width:100%;
  }
  
  /* on hove text on image div */
  .middle {
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 35%;
   left: 36%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: center;
  }
  
  
  .hover:hover .img-fluid {
   opacity: 0.3;
  }
  
  .hover:hover .middle {
   opacity: 1;
  }
  
  
  
  
  /* text written on hover */
  .text{
   position:absolute;
   
   font-weight:bolder;
   
  
  }
 
  @media only screen and (max-width: 600px) {
    .col-md-6{
      text-align:center;
  
    }
  
  }