body{
  overflow-x: hidden;
}

/* #head{
  background-color: #082941;
  width: 100%;
}


.top-header{
	height:25px; 
	width:100%;
	background-color:#19dded73;
	color: #082941;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  .icon-social{
		  color: #082941;
		  padding-left: 5px;

  }

.nav-item:hover{
  border: 1px solid white;
  border-radius: 5px;
}

.nav-item{
	color: white;
	font-size: 17.6px;
	
	
}
.navbar-nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 0) and (max-width: 768px) {
  .navbar-nav{
    width: 100%;
  }
}

@media (min-width: 0) and (max-width: 768px) {
  .navbar-collapse{
    display: flex;
  justify-content: flex-start;
  }
} */


#image{
  width: 200px;
  height: 80px;
}

#image img{
  height: 100%;
  width: 100%;
}


@media (min-width: 0) and (max-width: 768px) {
  #image{
  width: 150px;
  height: 80px;
  margin-right: 50px;
  }
}

.rib{ 
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 1rem;
}

.non img{
  height: 250px; 
  width: 100%;
}

#topper{
  top: 0px; 
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 250px;
}


/*----------containar-------*/

#main{
  position: relative;
  background-color: red;  
}

@media (min-width: 768px) and (max-width: 1024px) {
  .panel .col-xl-3{
    width: 50%;
  }
}


.tab{
  height: 40px;
  width: 100%;  
  padding-top: 7px;
  border-radius: 10px;
  text-align: center;
  color: white;
  background-color: #2b0e2b;      
}

@media (min-width: 430px) and (max-width: 768px) {
  .click .col-xl-12{
    width: 50%;
  }
}

@media (min-width: 770px) and (max-width: 1024px) {
  .click .col-xl-12{
    width: 20%;
  }
}


.tab:hover{
  cursor: pointer;
  box-shadow: 0px 5px 20px gray;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.active{
  cursor: pointer;
  box-shadow: 0px 5px 20px gray;
  background-color: white;
  color: black;
  border: 1px solid black;
}

.gallen img{
  position: relative;
  height: 200px; 
  width: 100%;
}

.ingallen{
  position: absolute;
  background-color:rgba(0,0,0,0.5); 
  height: 200px; 
  width: 97%;
  visibility: hidden;
  color: white;
  top: 5px;
  text-align: center;
  padding-top: 50px;
  font-weight: bolder;
}

.gallen:hover .ingallen{
  visibility: visible;
}

#panel1{
  position: relative;
}

#panel2{
  display: none;
}

#panel3{
  display: none;
}

#panel4{
  display: none;
}

#panel5{
  display: none;
}


