body{
	overflow-x: hidden;
}
/* top header css is on top-header.css */
/* navbar css is on navhome.css */
#MagicCarousel .carousel-inner{
	height: 600px;
}
/* green color background opacity */
#topper{
	top: 0px; 
	background-color: #51be784d;
	position: absolute;
	width: 100%;
	height: 250px;
}
/* green color background opacity */

/* company name , discription and go to page */
.content1{
	padding: 30px 30px 0px 100px;
}

/* company name */
.content1 h1{
	color: white;
	
}

/* company discription */
.content1 p{
	color: white;
	font-size: 1.15em;
	  width: 80%;
	  margin: auto;
}
/* go to page */
.content1 h2 {
	margin-left:40% ; 
	color:white;
	
}
  /* marquee div */
.notice-section {
	position: absolute;
	top: 220%;
	width: 100%;
	height: 30px;
	background-color: white;
}
/* marquee content */
.notice-section marquee {
	color: rgb(255, 13, 13);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	white-space: nowrap;
	align-items: center;
	justify-content: center;
	padding-top: 4px;
	animation: notice 55s ease infinite;
}
/* It solution and training button */
.lin{ 
	color: white;
	background-color: #51be78;
}
/* It solution and training button */

.button {
  background-color: #51be78;
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  animation: glowing 1500ms infinite;
  margin: 25px;
}
/* It solution and training button glowing */

@keyframes glowing {
	0% { background-color:#51be78; box-shadow: 0 0 3px white; }
	50% { background-color: #51be78; box-shadow: 0 0 40px white; }
	100% { background-color:#51be78; box-shadow: 0 0 3px white; }
  }
/* buttons main div */

.links{
	padding-top: 50px;
}
/* title of carousel */
.heading {
	margin-bottom: 5%;
	text-align: center;
	font-size: 2vw;
	font-family: orkney-reg;
	text-transform: uppercase;
	color:grey;
	margin-top: 60px;
}
/* images div of our training gallery */
#box{
	box-shadow:0px 30px 50px rgba(0,0,0,0.5);
}
/* carousel items of training gallery */
.item {
	opacity:0.5;
	transition: transform .2s,ease;
	margin-left:5px;
	box-shadow:0px 3px 6px rgba(0,0,0,0.16),0 3px 6px rgba(0,0,0,0.23) 
	
   
	
  }
  
  .item:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
	opacity:1;
	box-shadow:0px 19px 38px rgba(0,0,0,0.3),0 15px 12px rgba(0,0,0,0.22) 
  
  }


/* <our training gallery images */
  .img-fluid{
	max-width: 100%;
	height: 200px;
	display: inline-block;
}

  
  
  
  .inactive img {
	  display: block;
	  width: 150px;
	  height: 150px;
	  margin: auto;
	  border-radius: 50%;
  }
 
  /* <message from the board  Person name */
.carousel-inners h2{
	text-align:center;
	 color:#ff9800;
	 

}
  /* <message from the board  Person description */

.carousel-inners p{
	text-align:center;
		font-size: 1.15em;
	  color:black;
	  width: 80%;
	  margin: auto;
}
  /* <message from the board  carousel-item */

.carousel-inners .carousel-item{
	background-color: #e2d7d7; 
	height:380px; 
	width:100% ;
    padding-top:50px;

}


  /* <message from the board  carousel-item image div */
  

  .item1{
	margin-left:50px;
   
  
  }
  /* <message from the board  carousel-item image */

  .item1 img{
	height: 120px;
	 border-radius: 50%; 
	 border: 3px solid silver;
	 width: 120px !important;
  }
  /* Our clients carousel item div*/


  .our-clients .item1{
	display:none ;
}
/* title heading border */
.heading hr{
	border-top: 3px solid #51be78 !important ;
	width:25%;
   }
   @media (min-width: 0) and (max-width: 360px) {
	body{
		overflow-x: hidden;

	}
	.content1 h1{
		text-align: center;
	  }
	
	.notice-section {
		position: absolute;
		top: 80%;
		width: 100%;
		height: 30px;
		background-color: white;
	}
	 .carousel-item img{
    height: 100%;
  }
  
	.owl-carousel .item1{
		display: none;
	}

	.owl-theme .owl-dots{
		display: none;


	}
	.item1{
		display: inline;

		

	}
	.item1 img{
		height: 200px;
		width: 200px;

		
		
	}
	.carousel-inners p{
		font-size: 15px;



	}
	
	#box img{
		height:100px ;
		display: inline-block;
	}

	.heading{
		font-size: 3vw !important;
		margin-top: 0px !important;
	}

	
.our-clients .item1{
	display:inline ;
	
}
.button{
    margin-top: 25px;
  }
  .links{
    padding-top: 80px;
  }
	
  #topper{
	height: 400px;
}
.content1 h2{
	text-align: center;
	margin-left: 17%;
  }
  .content1 p{
	  display: none;
	}

}


	

   }



/*    
@media (min-width: 0) and (max-width: 1024px) {
	body{
		overflow-x: hidden;

	}
	.content1 h1{
		text-align: center;
	  }
	
	.notice-section {
		position: absolute;
		top: 80%;
		width: 100%;
		height: 30px;
		background-color: white;
	}
	
}
@media (min-width: 0) and (max-width: 767px) {
  .carousel-item img{
    height: 100%;
  }
  
	.owl-carousel .item1{
		display: none;
	}

	.owl-theme .owl-dots{
		display: none;


	}
	.item1{
		display: inline;

		

	}
	.item1 img{
		height: 200px;
		width: 200px;

		
		
	}
	.carousel-inners p{
		font-size: 15px;



	}
	#box img{
		height:100px ;
		display: inline-block;
	}

	.heading{
		font-size: 3vw !important;
	}

	
.our-clients .item1{
	display:inline ;
	
}
.button{
    margin-top: 25px;
  }
  .links{
    padding-top: 80px;
  }
	
  #topper{
	height: 380px;
}
.content1 h2{
	text-align: center;
	margin-left: 17%;
  }
  .content1 p{
	  display: none;
	}

}


@media (min-width: 768px) and (max-width: 1024px) {
  #topper{
    height: 650px;
  }
  .carousel-inners h2{
	font-size: 17px;
}
  .content1{
	padding: 30px 0px 0px 0px;
	text-align: center !important;
  }

  .content1 h2 {
	margin-left:42% !important ; 
  }
} */








	


  
  

