
body{
	background: #ccc !important;
}
input{
	margin-bottom: 15px !important;
}

br{
	height: 60px;
}
.img-responsive{
    max-width: 70% !important;
}


/* top header css is on top-header.css */
/* navbar css is on navhome.css */
/* <green heading of online -admission' */
.light-bg{
	background: #e8eaf3;
}

.dark-bg{
    background-color: #51be78 !important;


}
/*head*/


.head > h1{
	text-align: center;
}

.heading{
	display: inline;
	padding: 0px 15px 0px 15px !important;
}
.heading > h1{
	display: inline;
}
.heads > h2 {
    color: #fff;
    font-size: 25px;
    padding: 15px;
}
fieldset{
	padding: 0 15px 0 15px !important;
}
span{
	color:#e00615!important;
}
/* Section div of online-admission  */
.heads{
    background-color: #51be78 !important;

}

/* radio buttons of gender */
.radio{
    display: block;
}
/* sub-course div of course section */
.no-border{
    width: 200px;
    border: none;
    height: 30px;
    margin: 20px;
}
/* whole course div */
.Course{
    width: 500px;
    border: none;
    height: 30px;
    margin: 20px;
}


/* <forms div/ */
.form-groups{
    display: inline-flex;
}
/* <sub course of hardware options */
#otherFieldDiv{
margin-left: 20px;

}
/* <sub course of software options */

#otherFieldDiv1{
    margin-left: 20px;
    
}
/* <sub course of networking options */

#otherFieldDiv2{
    margin-left: 20px;
     
    
}
/* <labels of form-groups */

.form-groups label{
    margin-top: 25px;
}
/* rules and regulation section */
.rules{

    border-radius: 5px;
    padding:10px;
    background-color:white ;

    
    

}

.form-check{
    margin-left: 100px;
    font-size: 15px;
    padding: 10px;
    
}
@media only screen and (max-width: 768px) {
    .Course{
        width: 100%;
    }
}

    







