.privacy h2{
    color:#ff9800 ;
    text-align: center;
}
.privacy ul li{
    margin:10px;
    padding:0px 40px 0px 20px ;
}
.privacy{
    margin-top: 40px;
}
.privacy ul li::before {
    content: "\2022";
    color:#ff9800;
    font-weight: bold;
    display: inline-block; 
    width: 2em;
    margin-left: -1em;
  }