
/* top header css is on top-header.css */
/* navbar css is on navhome.css */
/* ticket support text  */
.head-ticket-support{
    text-align:center;
   
}
/* ticket support horizontal hr */
.head-ticket-support hr{
background-color: #ff9800;
height: 5px;
width: 30%;
}
/* <ticket support image */
.ticket-banner{
    height:300px;
    width:100% !important; 
    margin-top: 20px;
}

/* ticket support form div */ 
#border{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* ticket support heading of form */
#border .col-md-7 h3{
    text-align:center; 
    margin:10px;
}
/* ticket support textarea of form */

.form-group textarea{
    width: 100%; 
    height: 150px; 
    border: 1px solid gray;
}


/* <whole ticket-support form */
.col-lg-7{
   
    text-align: center;
    

}
/* solution-side of tixket support */
.solution-div{
    background-color: #51be7db8;
}
/* your problems and its options */
.no-border {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: .25rem;
    
    outline: none;
}
/* Sumbit button */
.btnContact{
    width: 500px;
    height: 50px;
    background-color: #ff9800;
    border: none;
    border-radius: 5px;
    font: 1em sans-serif;
    color: rgb(241, 248, 248);
    font-weight: bold;


}

.btnContact:hover{
    background-color: rgb(157, 230, 84);
}

.btnContact:active{
    outline: none ;

}
.solution-div h3{
    color:#ff9800 ;
}
.solution-div ul li{
    font-size: 1.5vw;
    font-weight: bold;
    text-align: left;
    margin-top:20px;

}
    
}

@media (min-width: 0) and (max-width: 768px) {
.btnContact{

    
    width: 300px;
}



}
