.top-header{
	height:25px; 
	width:100%;
	background-color:white;
	color:black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 14px !important;
	
  }
  .icon-social{
		  color: #51be78;
		  padding-left: 5px;

  }

  @media only screen and (max-width: 768px) {
	  .top-header{
		  font-size: 10px;
	  }


  }

  @media only screen and (max-width: 766px) {
	  .top-header .col-md-2{
		  display: none;
	  } 

	  .top-header .col-md-3{
		display: none;


	  }

  }


