
.top-header{
	height:25px; 
	width:100%;
	background-color:white;
	color:black;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 16px !important;
	display: flex;
	flex-wrap: nowrap;
  }
  .icon-social{
		  color: #ff9800;
		  padding-left: 5px;


  }
  .icon-social .fa-instagram:hover{
	  background: linear-gradient(45deg,#F58529,#FEDA77,#DD2A7B,#8134AF,#515BD4) !important;

  }
  .icon-social .fa-youtube:hover{
	  color: red !important;
  }
  .icon-social .fa-twitter-square:hover{
	  color: #1DA1F2;
  }
  .icon-social .fa-linkedin:hover{
	  color: #0e76a8;
  }
  .icon-social .fa-google:hover{
	  color: #f4c20d;
  }
  
  .hire-talent{
	  padding-top: 3px;

  }
  .hire-talent button{
	  border: none;
	  border-color: none;
	  background-color:#51be78 ;
	  color: white;
	  width: 120px;
	  font-size: 16px;
	  height: 20px;
	  border-radius: 5px;
	  padding-bottom: 5px;
      text-align: center;
	  
  }
  .hire-talent button:hover{
	  background-color: #ff9800;
  }

  
  .sign-up i{
	  font-size: 20px;
	  color: #ff9800 !important;
	  float: right;
	  
	  
  }
  .hire-talent :hover {
	  color: white !important;
  }
  @media only screen and (max-width: 1024px) {
	.hire-talent button{
		float: none !important;
	}
	.sign-up i{
		float:none;
	}

	  
  }


  @media only screen and (max-width: 768px) {
	  .top-header{
		  font-size: 10px;
	  }
	  .hire-talent{
		max-width: 13.666667% !important;
	  }
  .hire-talent button{
	  float: none !important;
  }
  .e-mail{
	  display: none;
  }
  

	  


  }

  @media only screen and (max-width: 766px) {
	  .top-header .phone-numbers{
		  display: none;
	  } 

	  .top-header .col-md-2{
		display: none;


	  }
	  .top-header .col-md-4{
		display: none;

	  }
	  .hire-talent{
		  display: none;
	  }

	  .top-social-icon{
		 display: inline !important;
		 width: 40%;
	  }
	  #miss{
		  width: 40% !important;
		  display: inline;
	  }
	  .sign-up {
		  display: inline;
		  width: 20%;
	  }
	  .sign-up i{
		  float: right;
	  }


	  
  


  }


