@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap');

body{
    overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif !important;

}


/* top header css is on top-header.css */
/* navbar css is on navhome.css */
/* photo banner whole div */
#topper{
	top: 0px; 
	position: absolute;
	width: 100%;
	height: 250px;
}

/* about us name */

#topper h3{
	color: white; 
    margin-top:100px;
    font-size: 40px;
}

/* About hubit text */
.row .head h3{
	border-bottom: 2px solid silver;
    padding-bottom: 5px;
    color: #ff9800;
    font-size: 30px;
}
.text{
    font-size:17px;
    font-weight: 500;
}
.text-justify h5{
    color: #ff9800;
    margin-left: 100px; 
}
.text-justify p{
    margin-left: 100px; 
    margin-right: 50px;
    font-size: 15px;
}

/* rotating image of about us */

.solution img{
	height: 140px;
	width: 140px;
	border-radius: 100px;
	border: 2px dashed black;
	transition: 2s;
}
#img1{
    margin-left: -100px;
}
#img2{
    margin-right: -150px;
}
#img3{
    margin-left: -100px;
}
#img4{
    margin-right: -150px;
}
/* animation of image */
.solution{
	transition: 2s;
	transition-timing-function: ease-out;
}
/* solution div effectes on hover */
.solution:hover{
	color:darkslategray;
	background-color: lavender;
	border-radius: 10px;
}
/* Image on hover of solution div  */
.solution:hover img{
	border: 3px dotted #343a40;
	transform: rotate(360deg);
}


/* what our client says carousel card */
.card {
    box-shadow: 0px 4px 8px 0px #BDBDBD
}
/* what our client says carousel card profile photo */

.profile-pic {
    width: 100px !important;
    height: 100px;
    box-shadow: 0px 4px 8px 0px #BDBDBD
}
/* next and previous button of what our client says */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #e51e5a !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important
}

/* next and previous button of what our client says on hover */


.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    color: #0D47A1 !important;
    background-color: transparent !important
}
/* what our clients say carousel dots */
.owl-dots {
    display: none
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

/* next of whatour client says icon */
.next {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}
/* previous button of whatour client says icon */

.prev {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6
}
 /* what our clients says items */
.item.show {
    display: block;
	transition-duration: 0.4s;
	
}


.item .show .row{
	border: none;

}

hr{
    /* background-color:#ff9800; */
    width: 30%;
    /* height: 0.5px; */
    
}
/*-------------------certificate-------------------------------  */
.inner
{
	width:200px;
	height: 200px;
    margin: 10px;
    display: inline-block;
    
}
.inner img {
    border-radius: 10%;
	height: 100%;
	width: 100%;
}

/* -----------------certificate end-------------------------------- */

 marquee{
    animation:awards 5sec infinite ;
} 


.mobile-view{
    display: none;
}

@media screen and (max-width: 999px) {

    .next,
    .prev {
        transform: scale(1);
        opacity: 1
    }

    .item {
        display: block !important
    }
}

@media (max-width: 800px) and (min-width: 0px) {
    .mobile-view{
        display: inline !important;
    }
    .desktop-view{
        display: none !important;
    }
    
}

