body{
    overflow-x: hidden;
}


/* top header css is on top-header.css */
/* navbar css is on navhome.css */
/* photo banner whole div */
#topper{
  width: 100%;
  height: 250px;
}
/* about us name */


#topper h2{
  color: white; 
  margin-top:100px;
}
/* Bio-data form text */
.contact-form h3{
  padding-bottom: 20px;
  padding-top: 100px;

}
/* sumbit button of bio-data form */
.contact-form .btnContact {
    border: none;
    border-radius: 1rem;
    padding: 5%;
    background:#ff9800;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-left: 10%;
}
/* whole contact form div */
.contact-form{
  text-align: center;
  box-shadow: 0px 50px 40px silver;
  padding: 30px 50px 10px 50px;
  background-image: url(../img/paper.png);
}
/* choose file area in Bio -data form */
input [type = file]{
  background-color: rgb(42, 39, 245);
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  border: none;
}
/*textarea in Bio -data form */

.form-group textarea{
  width: 100%; 
  height: 150px; 
  border: 1px solid gray;
}
/* <vaccancy area div */
.vac{
  box-shadow: 0px 50px 40px silver;
}

/* vaccancy image */
.vac img{
  height: 300px; 
  width: 100%;
}
.job{
  padding: 50px;
  
}
.job ul li{
  text-align:left;
}
.job h2{
  color: #ff9800;
}
.job h5{
  color: #ff9800;
}
.internship{
  margin-top: 50px;
  padding: 50px;
}
.internship ul li{
  text-align: left;
}
.internship h2{
  color: #ff9800;
  font-size: 25px;

}
.internship h5{
  color: #ff9800;

}
.vacancy{
  height: 200px;
  width: 100%;
}
/* footer css in foteer.css */
@media (min-width: 0px) and (max-width: 1024px) {
  .col-xl-4{
    margin-top: 100px;
    width: 90%;
    margin-left: 50px;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .container-fluid{
    padding: 0px !important;
  }
  .col-xl-4 {
    margin-top: 0px;
    width: 100%;
    margin-left: 0px;
}
}


.wrapper{
  
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

  .file-upload{

    height:50px;
    width:100%;
    border-radius: 100px;
    position:relative;
    
    display:flex;
    justify-content:center;
    align-items: center;  

    border:4px solid #FFFFFF;
    overflow:hidden;
    background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size:17px;
    font-weight: bold;
  }
  .file-upload i{
    font-size:25px;


  }


    input[type='file']{

      height:200px;
      width:200px;
      position:absolute;
      top:0;
      left:0;
      opacity:0;
      cursor:pointer;

    }

    .file-upload:hover{

      background-position: 0 -100%;

      color:#2590EB;

    }


  


