body{
    overflow-x: hidden;
}


/* top header css is on top-header.css */
/* navbar css is on navhome.css */
/* photo banner whole div */
#topper{
  width: 100%;
  height: 250px;
}
/* about us name */


#topper h2{
  color: white; 
  margin-top:100px;
}
/* Bio-data form text */
.contact-form h3{
  padding-bottom: 20px;
  padding-top: 100px;

}
/* sumbit button of bio-data form */
.contact-form .btnContact {
    border: none;
    border-radius: 1rem;
    padding: 5%;
    background:#ff9800;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-left: 10%;
}
/* whole contact form div */
.contact-form{
  text-align: center;
  box-shadow: 0px 50px 40px silver;
  padding: 30px 50px 10px 50px;
  background-image: url(../img/paper.png);
}
/* input area in Bio -data form */
.form-group input{
  border:none;
}
/*textarea in Bio -data form */

.form-group textarea{
  width: 100%; 
  height: 150px; 
  border: 1px solid gray;
}
/* <vaccancy area div */
.vac{
  box-shadow: 0px 50px 40px silver;
}

/* vaccancy image */
.vac img{
  height: 300px; 
  width: 100%;
}
.job{
  padding: 50px;
  
}
.job ul li{
  text-align:left;
}
.job h2{
  color: #ff9800;
}
.job h5{
  color: #ff9800;
}
.internship{
  margin-top: 50px;
  padding: 50px;
}
.internship ul li{
  text-align: left;
}
.internship h2{
  color: #ff9800;

}
.internship h5{
  color: #ff9800;

}
.vacancy{
  height: 200px;
  width: 100%;
}
/* footer css in foteer.css */
@media (min-width: 0px) and (max-width: 1024px) {
  .col-xl-4{
    margin-top: 100px;
    width: 90%;
    margin-left: 50px;
  }
}