
body{
  overflow-x: hidden;
}

/* top header css is on top-header.css */
/* navbar css is on navhome.css */
/* box shadow of contzct form */
#contact-form{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
/* .form-group{
   font-size:20px;
  color: gray; 
}  */




/* Enquiery text  */
.col-md-7 h4{
  /* font-family: 'Lemonada', cursive; */
  font-size: 25px;
  font-weight: 800;


}
/* contact-information */
.contact-div{
  background-color: #a0047d;
  
  
}
/* hub it group pvt ltd boder bottom */
hr{
  /* background-color: #ffca07; */
  /* height: 2px; */
  width: 18%;
}

/* contact information text div */
.contact-information{
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  margin-top:10px ;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 20px;

  

}
/* Contact details */

/* <hubitpvtltd text   */
.c-name{
  text-align: center;
  border-bottom: 1px solid #fff;
  color: white;
  font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 15px;
   
}
.contact-list{
  margin-top: 5%;
  list-style: none;
}
.information {
  font-size: 13px;
  color: #c9efff;
  font-weight: bold;
  line-height: 2rem;
 
  margin-top: 7px;
}






/* Enquiry button */
.btn{
  width: 40%;
  margin-left: 30%;
  font-size: 25px;
  background-color: #ff9800;
  border: none;
}
.btn:hover{
  background-color: green;
}
#heading {
  text-align:center;
  margin-top:20px;
}

@media (min-width: 0) and (max-width: 768px) {
  hr{
    width: 70%;
  }
}



















