
body{
	background: #ccc !important;
}
input{
	margin-bottom: 15px !important;
}

br{
	height: 60px;
}
.faq
{
    padding:25px !important;
}
.faq h4
{
    text-align: center;
    font-weight: bold;
}
.faq p{
    font-size: 15px;
    text-align: center;
}
.admission-text p
{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 17px;
}


/* top header css is on top-header.css */
/* navbar css is on navhome.css */
/* <green heading of online -admission' */
.light-bg{
	background: #e8eaf3;
}

.dark-bg{
    background-color: #ff9800 !important;


}
/*head*/
legend{
    color: #ff9800 !important;
    font-size: 23px;
}

.head > h1{
    text-align: center;
}

.heading{
	display: inline;
	padding: 0px 15px 0px 15px !important;
}
.heading > h1{
    display: inline;
    
}
.heads > h2 {
    color: #fff;
    font-size: 20px;
    padding: 15px;
}
fieldset{
	padding: 0 15px 0 15px !important;
}
span{
	color:#e00615!important;
}
.img-responsive{
    height: 100% !important;
    width: 100% !important;
}
/* Section div of online-admission  */
.heads{
    background-color: #51be78 !important;

}
b{
    color: #ff9800;
}

/* radio buttons of gender */
.radio{
    display: block;
}
/* sub-course div of course section */
.no-border{
    width: 200px;
    border: none;
    height: 30px;
    margin: 20px;
}
/* whole course div */
.Course{
    /* width: -100px ; */
    border: none;
    height: 30px;
    /* margin-right: 100px; */
    
}


/* <forms div/ */
.form-groups{
    display:inline-block;
    
    

}
/* <sub course of hardware options */
#otherFieldDiv{
margin-left: 20px;

}
/* <sub course of software options */

#otherFieldDiv1{
    margin-left: 20px;
    
}
/* <sub course of networking options */

#otherFieldDiv2{
    margin-left: 20px;
     
    
}
/* <labels of form-groups */

.form-groups label{
    margin-top: 25px;
}
/* rules and regulation section */
.rules{

    border-radius: 5px;
    padding:10px;
    background-color:white ;
}
#singlebutton{
    width: 50%;
    background-color: #ff9800;
    border-color: #ff9800;
}

.form-check{
    margin-left: 100px;
    font-size: 15px;
    padding: 10px;
    
}
@media only screen and (max-width: 768px) {
    .Course{
        width: 100%;
    }

}
@media only screen and (min-width: 768px) {

.col-md-3 {
    max-width: 100% !important;
    text-align: center !important;
}
.Course{
    width: 100% !important;
}
}

    







