@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1display=swap');

body{
	overflow-x: hidden;
	font-family: 'Titillium Web', sans-serif !important;
  }


 
 
  .mt-100 {
      margin-top: 150px
  }
 
  .filter-group {
      border-bottom: 1px solid #e4e4e4
  }
 
  .card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.37rem
  }
 
  .card-header {
      padding: 0.75rem 1.25rem;
      margin-bottom: 0;
      background-color: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  }
 
  .filter-group .card-header {
      border-bottom: 0
  }
 
  .icon-control {
      margin-top: 6px;
      float: right;
      font-size: 80%
  }
 
  .list-menu {
      list-style: none;
      margin: 0;
      padding-left: 0
  }
 
  .list-menu a {
      color: #343a40
  }
 
  a {
      text-decoration: none !important;
      background-color: transparent
  }
 
  .checkbox-btn {
      position: relative
  }
 
  .checkbox-btn input {
      position: absolute;
      z-index: -1;
      opacity: 0
  }
 
  .checkbox-btn input:checked~.btn {
      border-color: #3167eb;
      background-color: #3167eb;
      color: #fff
  }
 
  .btn-light {
      display: inline-block;
      font-weight: 600;
      color: #343a40;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: #eee;
      border: 1px solid #eee;
      padding: 0.45rem 0.85rem;
      font-size: 10px;
      line-height: 1.5;
      border-radius: 0.37rem
  }
 
  .btn-light:hover {
      background-color: #fff;
      border-color: #989898
  }
 
  .btn-medium {
      font-size: 12px;
      padding: 10px 22px;
      display: inline-block;
      margin-right: 20px;
      letter-spacing: 2px;
      border: 1px solid #157af6;
      width: 100%
  }
 
  .highlight-button:hover {
      background-color: #157af6;
      border: 2px solid #157af6;
      color: #fff
  }
 
  .custom-control {
      position: relative;
      display: block;
      min-height: 1.5rem;
      padding-left: 1.5rem
  }
















.title{
  color: #a0047d;
  margin-top: 30px;
}
.searchbar{
  background-color:rgba(128, 128, 128, 0.301);
  border-radius: 5px;
  height: 80px;
}
    .searchbox{
      position: relative;
      display: inline-block;
      margin:0px 200px 40px 200px;
      
    }
    .searchbox input:focus {
      outline: none; /*by default,input shows an outline on focus */
    }
    .searchbox input{
      z-index: 0;
      margin-top: 8%;
      width: 250%;
      height: 40px;
      background:#f1f3f4;
      border-radius: 25px;
      border: 2px solid #f1f3f4;
    }
    form{
      display:inline-block;
    }
  #closeid{
    display: none;
  }
  .searchbox .fa-search{
       position: absolute;
       top:55%;
       left:5%;
       color:#8e99a4;
   }
   .close{
          position: absolute;
          top:50%;
          right:-160%;
          color:#8e99a4;
          border: none;
          padding: 0;
   }
   .search{
    color:#8e99a4;
    font-weight: 400; 
    padding-left: 50px;
    font-size: 18px;
    z-index: 3;
    
   }
   .fa-times{
       position: absolute;
    top:30%;
    right:5%;  
   }




  .panel .gallen{
	  border: 2px solid grey;
	  border-radius: 10px;
  }
  .ingallen{
	  
	  border-radius: 10px;
	  font-size: 12px;
  }
  .ingallen p{
	margin: 0 !important;


  }
  .ingallen p ins{
	  list-style: none;
	  font-size: 18px;
	  color: #ff9800;
	  
  }
  
  ins{
	  text-decoration: none;
  }
  .click a{
	  color: white;
  }
  .click{
	  background-color: gray;
	  margin-top: 20px;
	  border-radius: 4px;
	  display:block;
  }
  .click h6{
	text-align: center;
}
.tabs{
  border-right: 2px solid rgba(128, 128, 128, 0.356);
}
.card-link-secondary{
  font-size: 15px;
  line-height: 35px;
  color:#394264;
  font-weight: bold;
}
.card-link-secondary:hover{
  color: #cc324b;
  text-decoration: none;
}


 








  body{
	font-size: 18px;
	line-height: 22px;
}

.product-item{
	/* height: 330px; */
	width: 240px;
	border: 2px solid #f1f1f0;
	text-align: center;
	padding: 15px;
  position: relative;
}
.product-item img{
	height: 100px;
	width: 100px;
}

.product-item__name{
  display: block;
  color: #394264;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 0 5px 0;  
  font-weight: bold;  
}

.btn--buy:hover{
 background-color: #e3a049; 
}

.price span{
  font-size: 15px;
  font-weight: 600;
  color: red;
}

.product-item__price .btn{
	display: block;
	background-color: #fcb150;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 13px;
	width: 100px;
	text-align: center;
	padding: 8px 0;
  text-decoration: none;
}

a.btn{
	color: #fff;
}

.product-item{
  position: relative;
}

.product-item__price{
  width: 100%;
  height: 50px;
}

.btn--buy, .price{position: absolute; bottom: 20px;}
.price{right: 20px;}

/*Corner ribbons*/

.ribbon-wrapper {
  /* background-color: blue; */
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.ribbon{
  font: 20px Roboto Condensed;
  color: #fff;
  background-color: #cc324b;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 3px 0;
  left: -30px;
  /*top: 15px;*/
  top: 15px;
  width: 120px;
/*  -webkit-box-shadow: 5px 2px 3px rgba(229,229,229,0.9);
  -moz-box-shadow:    5px 2px 3px rgba(229,229,229,0.9);
  box-shadow:         5px 2px 3px rgba(229,229,229,0.9);*/
}




.delivery{
  font-size: 14px;
  color: #888888;
  display: block;
}
.product-item__description{
  font-size: 13px;
  height: 45px;
  overflow: hidden;
}