@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1display=swap');

body{
	overflow-x: hidden;
	font-family: 'Titillium Web', sans-serif !important;
  }

  .panel .gallen{
	  border: 2px solid grey;
	  border-radius: 10px;
  }
  .ingallen{
	  
	  border-radius: 10px;
	  font-size: 12px;
  }
  .ingallen p{
	margin: 0 !important;


  }
  .ingallen p ins{
	  list-style: none;
	  font-size: 18px;
	  color: #ff9800;
	  
  }
  .btn{
	  border: none;
	  background-color: rgb(99, 141, 20) !important;	  
	  width: 100px;
	  height: 30px;
	  color: white;
	  font-size: 15px;
	  margin-top: 10px;
	  
  }
  ins{
	  text-decoration: none;
  }
  .click a{
	  color: white;
  }
  .click{
	  background-color: gray;
	  margin-top: 20px;
	  border-radius: 4px;
	  display:block;
  }
  .click h6{
	text-align: center;




  }

 








  body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	line-height: 22px;
}

.product-item{
	/* height: 330px; */
	width: 260px;
	border: 2px solid #f1f1f0;
	text-align: center;
	padding: 15px;
  position: relative;
}
.product-item img{
	height: 200px;
	width: 200px;
}

.product-item__name{
  display: block;
  color: #394264;
  text-decoration: none;
  font-size: 17px;
  padding: 5px 0 25px 0;    
}

.btn--buy:hover{
 background-color: #e3a049; 
}

.price span{
  font-size: 16px;
  font-weight: 600;
  color: red;
}

.btn{
	display: block;
	background-color: #fcb150;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
	width: 100px;
	text-align: center;
	padding: 8px 0;
  text-decoration: none;
}

a.btn{
	color: #fff;
}

.product-item{
  position: relative;
}

.product-item__price{
  width: 100%;
  height: 50px;
}

.btn--buy, .price{position: absolute; bottom: 20px;}
.price{right: 20px;}

/*Corner ribbons*/

.ribbon-wrapper {
  /* background-color: blue; */
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.ribbon{
  font: 20px Roboto Condensed;
  color: #fff;
  background-color: #cc324b;
  text-align: center;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 3px 0;
  left: -30px;
  /*top: 15px;*/
  top: 15px;
  width: 120px;
/*  -webkit-box-shadow: 5px 2px 3px rgba(229,229,229,0.9);
  -moz-box-shadow:    5px 2px 3px rgba(229,229,229,0.9);
  box-shadow:         5px 2px 3px rgba(229,229,229,0.9);*/
}

.product-item ul{
  text-align: left;
  font-size: 18px;
  line-height: 18px;
  color: #338dc9;
}

.product-item li span{
  color: #34363d;
  font-size: 14px;
}

.delivery{
  font-size: 14px;
  color: #888888;
  margin: 0 0 5px 20px;
  display: block;
}