<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../assets/css/home/privacy-policy.css"> @include('includes/homehead')
    <title>Privacy</title>
</head>

<body>
    @include('includes/navhome')
    <div class="privacy">
        Terms and Conditions – Broadway Infosys Nepal Pvt. Ltd. The terms and conditions incorporated herein, belonging to Broadway Infosys Nepal Pvt. Ltd., hereafter defined Broadway, shall be applicable to any person, students, clients, customers, users, hereafter
        defined as second-party, who are benefiting from the services, online or onsite. Broadway respects and guarantees protection of the privacy of the individuals who have access to the information and services that it provides. Please be informed
        that Broadway WILL release specific personal information, belonging to either an individual or a company, if required to do so in the following circumstances: In order to comply with any type of valid legal process. For example search warrant,
        statute, court order, or any legal services. If any action(s) committed by the second-party violates the Terms and Conditions of the service provided by Broadway. In order to ensure safety or defend Broadway’s legal rights or property, intellectual
        capital, resources, second-party. In order to safeguard the office environment and warrant support in terms of the investigation, prevention, or taking action against any type of illegal activities, suspected fraud, situations including potential
        threats to the security and integrity of Broadway. General Terms and Conditions for Onsite Classes: Once the second-party of Broadway’s onsite services agree to the above Terms and Conditions, they may register for and take the classes as per
        the routine. The second-party may register on an onsite basis by filling the form in the front desk area of the office or by online means from Broadway’s website. The second-party of Broadway agrees to take good care of the resources (laptops,
        chargers, mouse, and keyboards) provided to them as per their need. Any damage to the aforementioned devices will result in the user themselves being liable. The second-party of Broadway is expected to maintain hygiene and cleanliness in the classroom
        areas. Throwing of any waste inside the class will result in them being banned from taking classes from a week to a fortnight. The second-party at Broadway is also expected to take care of their actions which are being monitored, 24/7, by CCTV
        cameras. Any action that goes against the rules and regulations of the organization will result in immediate cancellation of the service that they have registered for. The second-party of Broadway are also requested to use their smartphones only
        after the permission of the instructor present INSIDE the classroom. Failure to follow this rule will result in the same instructor taking action(s) against you which may be in the form of getting banned from taking classes. The second-party are
        strictly prohibited from taking photos or videos while inside the classroom. The second-party are expected to follow all the rules and regulations while inside the class and not VIOLATE them. These Terms and Conditions constitute the agreement
        between Broadway and the second-party. General Terms and Conditions for Online Classes: Once the clients, users, customers of Broadway’s online services have agreed to accept the aforementioned Terms and Conditions, they are considered to be eligible
        to take classes on an online basis; registration for which can be done by filling in the form in the front desk area of the office or from Broadway’s website. The second-party is not permitted to share any private information like email addresses,
        contact numbers or Social Media links during the session. The second-party is expected to be in their proper and professional attire or manner while taking online classes or sessions. The second-party of Broadway’s online services, in the form
        of online classes, are expected to show VERY ETHICAL BEHAVIOR during the whole duration of the class. VERY ETHICAL BEHAVIOR refers to the following: Not muting the speakers of the session. Ensuring that the microphones of the participants are
        all muted so that there is no background noise unless granted permission by the host. If any query has to be presented, the chatbox needs to be utilized rather than cutting into the presentation. There should be no sharing of irrelevant videos
        by the participants. Screen capturing / recording of online session(s) or class(es) is strictly prohibited. The second-party of Broadway’s online services are also expected to follow the rules and regulations that are pre-established and are presented
        in each and every class(es). The second-party of Broadway’s online services is strictly prohibited to record the online classes on their respective devices and publish the video by giving it their own preferred name. No videos are to be recorded
        from online classes, except by Broadway itself. Failure to do so WILL result in us taking legal actions under the Copyright Act. There will be no videos provided by Broadway to the second-party regarding online classes unless it has been agreed
        and signed by at least 3 representatives of Broadway out of which, the Business Development Director and the Managing Director’s signature are ABSOLUTELY mandatory. Refund Policy: We always put our students first and believe their satisfaction
        must be our priority. In this context we incorporate such environment that the students are fully satisfied with our classes / training. We usually do not offer refund unless: The students are able to provide valid reason behind not starting /
        completing the class There's a situation where we are unable to conduct classes for students due to our own reasons Only if the above given crieterias are fulfilled, the management comitte decides on refund policy and every student will be dealt
        individually. The refund involves deduction of service charge and fees for the completed classes. Offer/Discounts and Scheme Policy: We frequently rollout different offers, discounts and schemes. However there are certain conditions that need
        to be fulfilled: Only the new students are eligible to receive offers after it is commenced The students must pay the course cost in advance to receive the offers
    </div>

    @include('includes/footer')


</body>

</html>