body{
    overflow-x: hidden;
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
  .flex-container .row{
      width: 100%;
  }
  
  .flex-container .row .col-md-5 .row div {
    width: 40%;
    margin: 20px;
    text-align: center;
  }
  .flex-container .row .col-md-7 .row div {
    background-color: #f1f1f1;
    width: 29%;
    margin: 20px;
    text-align: center;
  }