body{
    overflow-x: hidden;
    color: black;

}
/* tap-banner whole div with image on background */
.banner{
    height: 450px;
    background-image: url("../../img/business-services.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin:0px 2% 0px 2% ;
}

/* content and opacity div */
.banner .header{
    background-color: white;
    height: 100%;
    opacity: 0.6;
}
/* Bulding talent for growth h1 css */
.header h1{
    text-align: center !important;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    padding-top: 5%;
}
/*discription css */

.header p{
   
    font-size: 25px;
    font-family: 'Oswald', sans-serif;


}
/* banner button css */
.banner button{
    border: none;
    width: 300px;
    height: 60px;
    background-color: #ff9800;
    font-weight: bold;
    color: white;
    font-size: 23px;
}
/* banner button hover css */
.banner button:hover{
    background-color: crimson;
}
/* Inject innovation whole div */
.innovation{
    margin-top: 4%;
    margin-bottom:2% ;
    width: 100%;
    margin-left: 0px !important;
    margin-right: 0px !important;


}
/* Inject innovation all content div */

.innovation .col-md-7 .heading {
    margin: 0px 5% 0px 5%;
}
/* Inject innovation fist heading css */

.innovation .col-md-7 .heading h2{
    font-size: 30px;
    margin-bottom: 5%;
    font-family: 'kanit', sans-serif;
    font-weight: bold;
    text-align:center !important;

}
/* Inject innovation second heading css */

.innovation .col-md-7 .heading h3{
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 20px;
    
}
/* Inject innovation list css */

.innovation .col-md-7 .heading ul li{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}
/* Inject innovation link inside li css */

.innovation .col-md-7 .heading ul li a{
    color: #ff9800;
}
/* hire top talent form whole div css */
.innovation  .top-hire .form-div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ff9800;
    margin:4% 5% 0px 5%;
    padding: 4%;
    text-align: center;

}
/* hire top talent form first heading css */

.innovation  .top-hire .form-div h3{
    font-weight: bold;
    text-align: center;
    margin-top:20px ;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;

}
/* hire top talent form input css */

.innovation  .top-hire .form-div .Names .col{
    padding: 0px 20px 20px 20px;
}
.innovation  .top-hire .form-div .company .col{
    padding: 0px 20px 20px 20px;
}
.innovation  .top-hire .form-div .E-mail .col-md-12{
    padding: 0px 20px 20px 20px;
}
.innovation  .top-hire .form-div .Selection .col-md-12{
    padding: 0px 20px 20px 20px;

}
/* hire top talent form button css */

.innovation  .top-hire .form-div  button{
    border: none;
    width: 200px;
    height: 50px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
/* quotes whole div */
.Michale{
    height: auto;
    background-color: #00a6e5;
    color: white;
    width: 96%;
    margin-top: 100px;
    margin-bottom: 100px;

}
/* quotes saying paragraph css */

.Michale P{
    text-align: center;
    font-family: 'kanit', sans-serif;
    font-size: 20px;
    padding: 80px 10% 20px 10%;
     
}
/* quotes name of the person who said yhe quote */
.Michale h6{
    text-align: center;
    font-size: 12px;
    margin-bottom: 50px;
}
/* Programs  whole div */

.Programs{
width: 100%;
}
/* Programs  heading css */

.Programs h2{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
/* redy get started whole div */
.connect{
    width: 96%;
    height: auto;
    background-color: #ffd941;
    margin-top: 100px;
    text-align: center;
}
/* redy get started heading */

.connect h2{
    text-align: center;
    font-weight: bold;
    padding: 50px 0px 0px 0px;
    font-size: 25px;
}
/* redy get started paragraph */

.connect p{
    text-align: center;
    font-size: 16px;
    padding: 0px 100px 0px 100px;
    font-weight: bold;
}
/* redy get started button */

.connect button{
    width: 200px;
    font-size: 20px;
    height: 50px;
}

@media (min-width:0px) and (max-width:500px){
.header h1{
    font-size:30px ;
}
.header p{
    font-size: 20px;
}
.banner button{
    width: 200px;
    font-size: 20px;
}
.connect p{
    padding: 0px;

}
    
}
