body{
    overflow-x: hidden;
    color: black;

}
.banner{
    height: 600px;
    width: 100%;
   
}
.header h1{
    text-align: center !important;
    top:25%;
    left: 20%;
    right: 20%;
    position: absolute;
    font-size: 4.5vw;
    font-family: 'Oswald', sans-serif;
}
.header p{
    position: absolute;
    top:45%;
    left: 10%;
    right: 10%;
    font-size: 2vw;
    line-height: 30px;
    font-family: 'Oswald', sans-serif;


}
.banner img{
background-size: cover;
background-repeat: no-repeat;
background-position: center;
opacity: 0.2;
width: 100%;
height: 100%;
}
.banner button{
    border: none;
    position: absolute;
    top:65%;
    left: 40%;
    right: 40%;
    width: 20vw;
    height: 5vw;
    background-color: #ff9800;
    font-weight: bold;
    color: white;
    font-size: 1.7vw;
}
.innovation{
    margin-top: 4%;

}
.innovation .col-md-6 {
    padding: 0px 100px 0px 100px;
}
.innovation .col-md-6 h2{
    font-size: 2.5vw;
    margin-bottom: 30px;
    font-family: 'kanit', sans-serif;
    font-weight: bold;

}
.innovation .col-md-6 h3{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.8vw;
    
}
.innovation .col-md-6 ul li{
    font-size: 1.7vw;
}
.innovation .col-md-6 ul li a{
    color: #ff9800;
}

.innovation  .top-hire{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin:0px 100px 0px 100px;
    background-color: #ff9800;
}

.innovation  .top-hire h3{
    font-weight: bold;
    text-align: center;
    margin-top:20px ;
    margin-bottom: 20px;
    color: white;

}
.innovation  .top-hire .row  label{
    color: white;
}

.innovation  .top-hire .Names .col{
    padding: 30px 20px 20px 20px;
}
.innovation  .top-hire .company .col{
    padding: 20px 20px 20px 20px;
}
.innovation  .top-hire .E-mail .col-md-12{
    padding: 0px 20px 20px 20px;
}
.innovation  .top-hire .Selection .col-md-12{
    padding: 0px 20px 20px 20px;

}
.innovation  .top-hire button{
    border: none;
    width: 20vw;
    height: 4vw;
    font-weight: bold;
    color: white;
    font-size: 1.7vw;
    margin: 100px 130px 0px 130px;
}

.Michale{
    margin:150px 0px;
    height: 50vh;
    width: 100%;
    background-color: #00a6e5;
    color: white;
}
.Michale P{
    text-align: center;
    font-family: 'kanit', sans-serif;
    font-size: 2vw;
    padding: 80px 250px 20px 250px;
     
}
.Michale h6{
    text-align: center;
    font-size: 1.2vw;
}
.Programs{
width: 100%;
}
.Programs h2{
    text-align: center;
    font-weight: bold;
}
.connect{
    width: 100%;
    height: 300px;
    background-color: #ffd941;
    margin-top: 100px;
}
.connect h1{
    text-align: center;
    font-weight: bold;
    padding: 50px 0px 0px 0px;
}
.connect p{
    text-align: center;
    font-size: 2.3vw;
    padding: 0px 100px 0px 100px;
    font-weight: bold;
}


