body{
    overflow-x: hidden;

}

.banner{
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
       
    
}
.banner img{
    height: 100%; 
    width: 100%;
    background-blend-mode: multiply;
    background-color: #1dc2ef;

}
.banner hr{ 
    height: 3px;
    background-color: #ff9800;
    margin: 0px;
}
.for-you .row .col{
    text-align: center;
    height: 250px;
    
}
.for-you .row .col .hubit-img{
    height: 100%;
    width: 100%;
    text-align: center  ;
}

.for-you .row .col .hubit-img img{
    height: 100%;
    width: 300px;

}
.for-you .row .col h1{
    font-weight: bold;
    color: rgb(33, 32, 70);
    margin: 0px;
    font-size: 30px;
}
.for-you .row .col p{
    font-weight: bold; 
    color: rgb(64, 63, 94);
    margin: 0px;
    font-size: 17px;

}

.our-alumini{
    height: auto;
    width: 100%;
    margin-top: 0px;
}
.our-alumini .row{
    background-color: #333;
    margin: 0px 15px 0px 15px;
    text-align: center;

}
.our-alumini .row .col-md-3 .content {
    height: 70px;
    margin: 100px 80px 100px 80px;
}
.our-alumini .row .col-md-3 .content img{
    height: 100%;
    width: 100%;
}
.our-alumini .row .col-md-3 .content .stat-number {
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
}
.benefits .row{
    background-color: #e2f2f6;
    text-align: center;
    color:rgb(33, 32, 70);
    margin: 0px 20px 0px 20px;

}
.benefits .one{
    margin-top: 50px;
}
.benefits .row .col h1{
    font-weight: bold;
    padding:20px 20px 10px 20px;
    font-size: 30px;
}
.benefits .row .col p{
    font-weight: bold;
    color:rgba(33, 32, 70, 0.589) ;
    font-size: 17px;
}
.benefits .card{
    margin: 20px 10px 20px 10px ;
    border-radius: 15px !important;
}
.benefits .card img{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    height: 200px;
}
.benefits .card .card-body h4{
    font-weight: bold;
    color:rgb(33, 32, 70);
    padding: 10px;
    font-size: 20px;

}
.benefits .card .card-body p{
    font-weight: bold;
    color:rgba(33, 32, 70, 0.589) ;
    padding: 10px;  
    font-size: 15px;



}


.objectives{
    padding: 50px 
}
.objectives .row .col h1{
    font-weight: bold;
    border-left: 5px solid #ff9800;
    margin: 0px 20px 20px 20px;
    padding: 0px 20px 0px 20px;
    color: rgb(30, 28, 59);
    font-size: 30px;
}
.objectives .row .col p{
    font-weight: bold;
    font-size: 17px;
    padding: 5px;
    margin: 0px 50px 0px 50px;

}
.objectives .row .col ul li{
    font-weight: bold;
    font-size: 17px;
    padding: 2px;
    text-align: left !important;
    margin: 0px 50px 0px 50px;
}

.ourpatners h1{
    text-align: center;
    font-weight: bold;
    margin: 20px;
    font-size: 30px;

}

.ourpatners .card .item{
    height: 7vw;
    width: 7vw;
}
.ourpatners .card .item img{
    height: 100%;
    width: 100%;
    margin-left: 50px;

}





@media (min-width:0px) and (max-width:768px){
.benefits .one{
    margin-top: 250px;
}
.for-you .row .col .hubit-img{
    height: 200px;
    width: 200px;
    margin: auto;
}
.for-you .row .col .hubit-img img{
    /* height: 50%; */
    width: 200px;
}
.for-you .row  .first{
    height:200px;
}
.for-you .row  .second{
    height: 400px;
}


}




