body{
    overflow-x: hidden;
    color: black;

}
/* t0p-banner whole div with image on background */
.banner{
    height: 45vw;
    width: 100%;
    background-image: url("../../img/corporate-training.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* content and opacity div */
.banner .header{
    background-color: white;
    height: 100%;
    opacity: 0.7;
}
/* corporate innovaton h1 css */
.header h1{
    text-align: center !important;
    font-size: 5vw;
    font-family: 'Oswald', sans-serif;
    padding-top: 5%;
}
/*discription css */

.header p{
   
    font-size: 2.5vw;
    font-family: 'Oswald', sans-serif;


}
/* banner button css */
.banner button{
    border: none;
    width: 20vw;
    height: 5vw;
    background-color: #ff9800;
    font-weight: bold;
    color: white;
    font-size: 1.7vw;
}
/* banner button hover css */
.banner button:hover{
    background-color: crimson;
}
/*create culture whole div */
.create-a-culture{
    margin-top: 4%;
    margin-bottom:4% ;
    width: 100%;
    background-color: #00a6e5;
    margin: 0px;
    width: 100%;

}
/*create culture all content div */

.create-a-culture .col-md-7 .heading {
    margin: 0px 5% 10% 5%;
}

/*create culture first heading css */

.create-a-culture .col-md-7 .heading h2{
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 3vw;
    margin-top: 10%;
    color: white;
    
}
/*create culture second heading css */

.create-a-culture .col-md-7 .heading h3{
    color: #ff9800;
    font-weight: bold;

}

/*create culture list css */

.create-a-culture .col-md-7 .heading ul li{
    font-size: 1.6vw;
    font-weight: bold;
    text-align: left;
    color: white;
    list-style: disc;
    padding-top: 20px;
}
/*create culture link inside li css */

.create-a-culture .col-md-7 .heading ul li a{
    color: #ff9800;
}
/* create culture form whole div css */
.create-a-culture  .top-hire .form-div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ff9800;
    margin:10% 5% 10% 5%;
    padding: 4%;
    text-align: center;
    border-radius:20px ;


}
/* create culture form first heading css */

.create-a-culture  .top-hire .form-div h3{
    font-weight: bold;
    text-align: center;
    margin-top:20px ;
    margin-bottom: 20px;
    color: white;

}
/* create culture form input css */

.create-a-culture  .top-hire .form-div .Names .col{
    padding: 0px 20px 20px 20px;
}
.create-a-culture  .top-hire .form-div .company .col{
    padding: 0px 20px 20px 20px;
}
.create-a-culture  .top-hire .form-div .E-mail .col-md-12{
    padding: 0px 20px 20px 20px;
}
.create-a-culture  .top-hire .form-div .Selection .col-md-12{
    padding: 0px 20px 20px 20px;

}
/* create culture form button css */

.create-a-culture  .top-hire .form-div  button{
    border: none;
    width: 200px;
    height: 50px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

/* training programs first heading */

.Training-programs h1{
    margin:100px 0px 20px 0px;
    font-weight: bold;

}
/* training programs second heading */

.Training-programs h3{
    margin-bottom: 60px;
    font-weight: bold;
}
/* training programs whole row  */

.Training-programs .one  {
    margin: 0px 100px 0px 100px;
}
/* training programs first retain talent  */
.Training-programs .row .col-md-4 .row .first{
    background-color: #ffd942;
    padding: 0px 50px 50px 50px;
    margin: 10px;
    


}
/* training programs second retain talent  */

.Training-programs .row .col-md-4 .row .second{
    background-color: #ffd942;
    padding: 0px 50px 50px 50px;
    margin: 10px;

    


}
/* training programs third retain talent  */

.Training-programs .row .col-md-4 .row .third{
    background-color: #ffd942;
    padding: 0px 50px 50px 50px;
    margin: 10px;
    


}
/* training programs all heading of column  */

.Training-programs .row .col-md-4 .row .col h3{
    font-weight: bold;
    text-align: center;
    padding: 50px 0px 20px 0px ;
    color: #111111;
    font-size: 30px;
}
/* training programs all paragraph of column  */

.Training-programs .row .col-md-4 .row .col p{
    color: #000000;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom:20px ;
    text-align: left;
}
/* training programs all line of column  */

.Training-programs .row .col-md-4 .row .col hr{
    background-color: grey;
}
/* training programs all button of column  */

.Training-programs .row .col-md-4 .row .col button{
    width: 80%;
    height: 60px;
    background-color: crimson;
    border: none;
}



 










/* in-person-training whole div */
.connect{
    width: 100%;
    height: 350px;
    background-color: grey;
    margin-top: 100px;
    text-align: center;
}
/* in-person-training heading */
 
.connect h2{
    text-align: center;
    font-weight: bold;
    padding: 50px 0px 0px 0px;
    color: black;
}
/* in-person-training paragraph */

.connect p{
    text-align: center;
    font-size: 20px;
    padding: 20px 100px 0px 100px;
    font-weight: bold;
    color: black;

}
/* in-person-training button */

.connect button{
    width: 220px;
    font-size: 25px;
    height: 90px;
    margin-top: 50px;
    background-color: black;
    border: none;
}


@media (min-width:0px) and (max-width:768px){
    .Training-programs .one  {
        margin: 0px 20px 0px 20px;
    }
}