body{
    overflow-x: hidden;
    color: black;

}
/* tap-banner whole div with image on background */
.banner{
    height: 45vw;
    width: 100%;
    background-image: url("../../img/corporate-partners.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* content and opacity div */
.banner .header{
    background-color: white;
    height: 100%;
    opacity: 0.7;
}
/* Bulding talent for growth h1 css */
.header h1{
    text-align: center !important;
    font-size: 5vw;
    font-family: 'Oswald', sans-serif;
    padding-top: 5%;
}
/*discription css */

.header p{
   
    font-size: 2.5vw;
    font-family: 'Oswald', sans-serif;


}
/* banner button css */
.banner button{
    border: none;
    width: 20vw;
    height: 5vw;
    background-color: #ff9800;
    font-weight: bold;
    color: white;
    font-size: 1.7vw;
}
/* banner button hover css */
.banner button:hover{
    background-color: crimson;
}
/* corporate-patners whole div */
.corporate-patners{
    margin-top: 4%;
    margin-bottom:4% ;
    width: 100%;
    background-color: #00a6e5;
    margin: 0px;
    width: 100%;

}
/* corporate-patners all content div */

.corporate-patners .col-md-7 .heading {
    margin: 0px 5% 10% 5%;
}

/* corporate-patners first heading css */

.corporate-patners .col-md-7 .heading h2{
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 3vw;
    margin-top: 10%;
    color: white;
    
}
/* corporate-patners list css */

.corporate-patners .col-md-7 .heading ul li{
    font-size: 1.6vw;
    font-weight: bold;
    text-align: left;
    color: white;
    list-style: none;
}
/* corporate-patners link inside li css */

.corporate-patners .col-md-7 .heading ul li a{
    color: #ff9800;
}
/* corporate-patners form whole div css */
.corporate-patners  .top-hire .form-div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ff9800;
    margin:10% 5% 10% 5%;
    padding: 4%;
    text-align: center;
    border-radius:20px ;

}
/* corporate-patners form first heading css */

.corporate-patners  .top-hire .form-div h3{
    font-weight: bold;
    text-align: center;
    margin-top:20px ;
    margin-bottom: 20px;
    color: white;

}
/* corporate-patners form input css */

.corporate-patners  .top-hire .form-div .Names .col{
    padding: 0px 20px 20px 20px;
}
.corporate-patners  .top-hire .form-div .company .col{
    padding: 0px 20px 20px 20px;
}
.corporate-patners  .top-hire .form-div .E-mail .col-md-12{
    padding: 0px 20px 20px 20px;
}
.corporate-patners  .top-hire .form-div .Selection .col-md-12{
    padding: 0px 20px 20px 20px;

}
/* corporate-patners form button css */

.corporate-patners  .top-hire .form-div  button{
    border: none;
    width: 200px;
    height: 50px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.our-patners .row{
    margin: 20px 100px 20px 100px;

}

/* logo animation */

#logo1 {
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(100%); 
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(100%); 
    -o-transition: .5s ease-in-out;
    height: 100%;
    width: 100%;
}
/* logo animation on hover */

#logo1:hover {
    -webkit-filter: grayscale(0%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .5s ease-in-out;
} 


/* redy get started whole div */
.connect{
    width: 100%;
    height: 350px;
    background-color: #00a6e5;
    margin-top: 100px;
    text-align: center;
}
/* redy get started heading */

.connect h2{
    text-align: center;
    font-weight: bold;
    padding: 50px 0px 0px 0px;
}
/* redy get started paragraph */

.connect p{
    text-align: center;
    font-size: 20px;
    padding: 20px 100px 0px 100px;
    font-weight: bold;
}
/* redy get started button */

.connect button{
    width: 200px;
    font-size: 25px;
    height: 80px;
    margin-top: 50px;
    background-color: black;
    border: none;
}





