body{
    overflow-x: hidden;
    color: black;

}
/* tap-banner whole div with image on background */
.banner{
    height: 450px;
    background-image: url("../../img/hire-top-talent.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin:0px 2% 0px 2% ;
}

/* content and opacity div */
.banner .header{
    background-color: white; 
    height: 100%;
    opacity: 0.7;
}
/* Bulding talent for growth h1 css */
.header h1{
    text-align: center !important;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    padding-top: 5%;
}
/*discription css */

.header p{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
/* banner button css */
.banner button{
    border: none;
    width: 300px;
    height: 60px;
    background-color: #ff9800;
    font-weight: bold;
    color: white;
    font-size: 23px;
}
/* banner button hover css */
.banner button:hover{
    background-color: crimson;
}
/* hiring-patner whole div */
.hiring-patner{
    margin-bottom:4% ;
    width: 96%;
    background-color: #00a6e5;
    margin-left: 2% !important;

}
/* hiring-patner all content div */

.hiring-patner .col-md-7 .heading {
    margin: 0px 5% 10% 5%;
}

/* hiring-patner first heading css */

.hiring-patner .col-md-7 .heading h2{
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10%;
    color: white;
    
}
/* hiring-patner list css */

.hiring-patner .col-md-7 .heading ul li {
    font-weight: bold;
    text-align: left;
    color: white;
    list-style: none;
    font-size: 15px;
}
/* hiring-patner link inside li css */

.hiring-patner .col-md-7 .heading ul li a{
    color: #ff9800;
}
/* hire top talent form whole div css */
.hiring-patner  .top-hire .form-div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ff9800;
    margin:10% 5% 10% 5%;
    padding: 4%;
    text-align: center;
    border-radius:20px ;


}
/* hire top talent form first heading css */

.hiring-patner  .top-hire .form-div h3{
    font-weight: bold;
    text-align: center;
    margin-top:20px ;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;

}
/* hire top talent form input css */

.hiring-patner  .top-hire .form-div .Names .col{
    padding: 0px 20px 20px 20px;
}
.hiring-patner  .top-hire .form-div .company .col{
    padding: 0px 20px 20px 20px;
}
.hiring-patner  .top-hire .form-div .E-mail .col-md-12{
    padding: 0px 20px 20px 20px;
}
.hiring-patner  .top-hire .form-div .Selection .col-md-12{
    padding: 0px 20px 20px 20px;

}
/* hire top talent form button css */

.hiring-patner  .top-hire .form-div  button{
    border: none;
    width: 200px;
    height: 50px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
/* next-top-talent heading css */
.next-top-talent .row .col-md-6 h1{
    color: #ff9800;
    font-size: 30px;
}
/* next-top-talent whole row */

.next-top-talent .row{
    margin: 100px;
}
/* next-top-talent row column */

.next-top-talent .row .pictures{
    height: 400px;
   
}
/* next-top-talent row column images */

.next-top-talent .row .col-md-6 img{
    height: 100%;
    width: 100%;
}
/* next-top-talent mobile view */

.mobile-view{
    display: none;
}
.mobile-view .row .pictures{
    height: 100%;
    width: 100%;
}
/* redy get started whole div */
.connect{
    height:auto;
    background-color: #00a6e5;
    margin-top: 100px;
    text-align: center;
    width: 96% !important;
}
/* redy get started heading */

.connect h2{
    text-align: center;
    font-weight: bold;
    padding: 20px 0px 0px 0px;
    font-size: 25px;
}
/* redy get started paragraph */

.connect p{
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
/* redy get started button */

.connect button{
    width: 200px;
    font-size: 20px;
    height: 60px;
    margin-top: 10px;
    background-color: black;
}


@media (min-width:0px) and (max-width:768px){
    .desktop-view{
        display: none;

    }
    .mobile-view{
        display: inline;
    }
    /* next-top-talent whole row */

.next-top-talent .row{
    margin: 30px 0px 0px 0px;
}
.header h1{
    font-size: 30px;

}
}

