body{
  overflow-x: hidden;
}



#image{
  width: 200px;
  height: 80px;
}

#image img{
  height: 100%;
  width: 100%;
}


@media (min-width: 0) and (max-width: 768px) {
  #image{
  width: 150px;
  height: 80px;
  margin-right: 50px;
  }
}

.rib{ 
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 1rem;
}

.carousel-item img{
  height: 550px;
}

@media (min-width: 0) and (max-width: 1024px) {
  .carousel-item img{
    height: 400px;
  }
}

#topper{
  top: 0px; 
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: 550px;
}

@media (min-width: 0) and (max-width: 1024px) {
  #topper{
    height: 400px;
  }
}

.content1 h1{
  color: white;
  font-weight: bolder;
}

.content1 strong{
  text-shadow: 0 0 2px #fff;
  letter-spacing: 0.5px;
}

@media (min-width: 0) and (max-width: 1024px) {
  .content1 .list{
    display: none;
  }
}

@media (min-width: 0) and (max-width: 1024px) {
  .content1 h1{
    text-align: center;
  }
}

.img-fluid{
  max-width: 100%;
  height: 150px;
  display: block;
}

@media (min-width: 0) and (max-width: 768px) {
  #box img{
    height: 90px;
  }
}

.icon{
  width: 70px;
  height: 70px;
  border-radius: 70px;
  text-align: center;
  padding-top: 10px;
  margin-left: 25px;
  background-color: #2b0e2b;
  font-size: 35px;
  color: white;  
}

@media (min-width: 0) and (max-width: 320px) {
  .icon{
    margin-left: 45px;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .icon{
    margin-left: 75px;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .icon{
    margin-left: 100px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .icon{
    margin-left: 270px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .icon{
    margin-left: 400px;
  }
}

.text{
  text-align: center;
}

.pro img{
  height: 170px; 
  width: 100%;
}

@media (min-width: 765px) and (max-width: 1024px) {
  .pro .col-xl-3{
    width: 50%;
  }
  .pro img{
    height: 180px; 
    width: 100%;
  }
}

.go{
  height: 200px;
  width: 100%;
  background-color: pink;
  background-image: url(../img/certi.jpg);
  background-size: 100% 100%;
  transition: background-image 20s;
  transition-timing-function: ease-in-out;
  animation-name: go;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  border: 3px solid #8a2be2;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (min-width: 765px) and (max-width: 1024px) {
  .intern .col-xl-3{
    width: 50%;
    margin-left: 25%;
  }
}

@keyframes go{
  0%{background-image: url(../img/certi.jpg);}
  25%{background-image: url(../img/certi.jpg);}
  50%{background-image: url(../img/simran.jpg);}
  75%{background-image: url(../img/narayan.jpg);}
  100%{background-image: url(../img/geeta.jpg);}
}

@media (min-width: 765px) and (max-width: 1024px) {
  .job .col-xl-2{
    width: 50%;
  }
}

.msg{
  height: 250px;
  width: 100%;
  border-radius: 2px;
  background-color: lavender;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 82% 75%, 87% 100%, 66% 76%, 0% 75%);  
}

#per{
  background-color: azure;
  width: 100%;
  height: 150px;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  text-align: center;
}

#per img{
  height: 150px;
  width: 100%;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

#mess{
  background-color: mistyrose;
  height: 150px;
  border-radius: 10px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 46% 75%, 45% 100%, 30% 75%, 0% 75%);
}

#pics{ 
  text-align: center; 
}

#pics img{
  height: 150px;
  width: 100%;
  -webkit-clip-path: circle(50% at 50% 50%);
}

