body{
  overflow-x: hidden;
}



.slideshow-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 85vh;
  background-color: black;
}
.contents {
  width: 100%;
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  background-color: rgb(209 191 34);
}
@media (min-width:0px) and (max-width: 1140px){
.myslides h2 {
    font-size: 35px;
}
}
.myslides h2 {
    font-family: orkney-med;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bolder;
    line-height: 1;
    position: absolute;
    text-align: left;
    top: 19%;
    left: 28%;
    z-index: 9;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}
@media (min-width:0px) and (max-width: 1140px){
.myslides h2 span {
    font-size: 30px;
}
}
.myslides h2 span {
    font-family: orkney-reg;
    display: block;
    text-align: right;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
    text-transform: uppercase;
    padding-right: 20px;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
}



@media (min-width:0px) and (max-width: 1140px){
.myslides .p_img {
    height: 400px;
}
}
.myslides .p_img {
    display: block;
    position: relative;
    left: 8%;
    height: 500px;
    z-index: 15;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}
.myslides img {
    height: 30%;
    z-index: 15;
    padding-top: 5%;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}


.p_detail {
  position: absolute;
  text-align: left;
  width: 350px;
  top: 20%;
  right: 10%;
  z-index: 30;
  width: 25%;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-name: slideInRight;
}
.p_detail {
  position: absolute;
  text-align: left;
  width: 350px;
  top: 20%;
  right: 10%;
  z-index: 30;
  width: 25%;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-name: slideInRight;
}
.p_detail p {
  font-size: 20px;
  font-weight: lighter;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-name: slideInRight;
}

.p_detail #banner-btn {
  white-space: nowrap;
  margin-bottom: 20px;
  font-size: 25px;
  font-family: 'Georgia';
  text-decoration: none;
  color: #cb0fa2;
  border: thin solid white;
  background-color: white;
  padding: 4px 10px 4px 10px;
  margin-right: 5px;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}
.p_detail h4 {
  font-family: orkney-med;
  font-size: 40px;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  animation-name: slideInRight;
}


@media (min-width:0px) and (max-width: 375px){
.myslides h2 {
    font-size: 28px;
    left: 13%;
    top: 67%;
    text-align: center;
}
}
@media (min-width:375px) and (max-width: 550px){
.myslides h2 {
    font-size: 35px;
    left: 20%;
    top: 67%;
    text-align: center;
}
}
@media (min-width:550px) and (max-width: 640px){
.myslides h2 {
    font-size: 45px;
    left: 25%;
    top: 67%;
    text-align: center;
}
}
@media (min-width:640px) and (max-width: 768px){
.myslides h2 {
    font-size: 45px;
    left: 25%;
    top: 67%;
    text-align: center;
}
}


@media (min-width:0px) and (max-width: 550px){
.myslides h2 span {
    font-size: 12px;
}
}
@media (min-width:550px) and (max-width: 640px){
.myslides h2 span {
    font-size: 15px;
    text-align: center;
    }
}
@media (min-width:640px) and (max-width: 768px){
.myslides h2 span {
    font-size: 15px;
    text-align: center;
    }
}
@media (min-width:768px) and (max-width: 1140px){
.myslides h2 span {
    font-size: 13px;
}
}




@media (min-width:0px) and (max-width: 375px){
.myslides .p_img {
    left: 15%;
    height: 300px;
    }
}
@media (min-width:375px) and (max-width: 550px){
.myslides .p_img {
    left: 15%;
    height: 350px;
    }
}
@media (min-width:550px) and (max-width: 640px){
.myslides .p_img {
    left: 25%;
    height: 350px;
    }
}
@media (min-width:640px) and (max-width: 768px){
.myslides .p_img {
    left: 25%;
    height: 450px;
    }
}
@media (min-width:768px) and (max-width: 900px){
.myslides .p_img {
    height: 350px;
}
}
@media (min-width:900px) and (max-width: 1140px){
.myslides .p_img {
    height: 400px;
}
}
@media (min-width:0px) and (max-width: 768px){
.p_detail {
    display: none;
}
}

@media (min-width:0px) and (max-width: 900px){
.p_detail h4 {
    font-size: 28px;
}
}
@media (min-width:0px) and (max-width: 900px){
.p_detail p {
    font-size: 15px;
}
}















h1{
  font-weight: bold !important;
  font-size: 30px !important;
  color: grey !important;
  margin-top:100px !important;
  text-transform: uppercase;
}



/* Add styles to the form container */
.containers {
  top: 300px;
  max-width:20vw;
  padding: 16px;
  background-color: white;
  opacity: 0.8;
  position: absolute;


}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

@media screen and (min-width: 768px){
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -80px !important;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: -80px !important;
}

}
.carousel-control{
  height: 100px;
}

#txt-1 {
  color: grey;
  font-size: 30px;
  text-align: center;
  padding-top: 10vh;
  text-transform: uppercase;
  font-weight: bold;
}


.card-container {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxmf1Mw06M8MFI8CWGcm8F2G_uOhbDw_s1JA&usqp=CAU');
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  animation-duration: 1.2s;
  animation-fill-mode: both;
  
} 

.card-container .card {
  border-radius: 10px;
  border: .25px solid #ffff;
  width: 320px;
  margin: 20px;
  padding: 20px 20px;
  background: #fcfcfc;
  box-shadow: 10px 10px 15px #e3e3e3, -10px -10px 15px #ffffff;
}
.card-container .card .content-box {
  position: relative;
  text-align: center;
  margin-top: 5px;
}
.card-container .card .content-box h3 {
  color: #4caf93;
  font-weight: 500;
  font-size: 2em;
  font-family: orkney-reg;
}
.card-container .card:hover {
  
  box-shadow: inset 0 0 10px #e3e3e3 ;
  font-size:10px;


}


body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media (min-width:0px) and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.our-alumini .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
  font-size:20px;
}
.our-values{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxmf1Mw06M8MFI8CWGcm8F2G_uOhbDw_s1JA&usqp=CAU');

}

.our-values{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxmf1Mw06M8MFI8CWGcm8F2G_uOhbDw_s1JA&usqp=CAU');
  
}

.our-values .row .col h1{
  text-align: center;
  /* margin: 100px 0px 0px 0px;  */
  margin-top: 40px! important;
  color: grey;
  font-size: 40px; 
}

.our-values .row .col-md-3 .content h4{
  padding-top: 15px;
  font-weight: bold;
}
.our-values .row .col-md-3 .content p{
  padding: 10px 20px 20px 20px;
  color: grey;
}





/* what our client says carousel card */
.card {
  box-shadow: 0px 4px 8px 0px #BDBDBD !important
}
/* what our client says carousel card profile photo */

.profile-pic {
  width: 100px !important;
  height: 100px !important;
  box-shadow: 0px 4px 8px 0px #BDBDBD!important
}
/* next and previous button of what our client says */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: #1E88E5 !important;
  border: none;
  padding: 5px 20px !important;
  font: inherit;
  font-size: 50px !important;
  display:none;
}

/* next and previous button of what our client says on hover */


.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  color: #0D47A1 !important;
  background-color: transparent !important
}
/* what our clients say carousel dots */
.owl-dots {
  display: none
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

/* next of whatour client says icon */
.next {
  display: block !important;
  position: relative;
  transform: scale(0.8);
  transition-duration: 0.3s;
  opacity: 0.6
}
/* previous button of whatour client says icon */

.prev {
  display: block !important;
  position: relative;
  transform: scale(0.8);
  transition-duration: 0.3s;
  opacity: 0.6
}
/* what our clients says items */
.item.show {
  display: block;
transition-duration: 0.4s;

}


.item .show .row{
border: none;

}


.inner
{
width:200px !important;
height: 200px !important ;
  margin: 10px !important;
  display: inline-block !important;
}
.course h1{
  text-align: center;
  margin-top: 50px;
}
.ourpatners h1{
  text-align: center;
  font-weight: bold;
  margin: 20px;
}
.ourpatners .card .item{
  height: 10vw;
  width: 10vw;
}
.ourpatners .card .item img{
  height: 100%;
  width: 100%;
  margin-left: 50px;
}
.inner
{
	width:200px;
	height: 200px;
    margin: 10px;
    display: inline-block;
}
.inner img {
    border-radius: 10%;
	height: 100%;
	width: 100%;
}
 marquee{
    animation:awards 5sec infinite ;
} 
/* redy get started whole div */
.connect{
  background-image: url('https://lh3.googleusercontent.com/proxy/Uwex8VaARq2kkaA8_gnb95Bfl-8D8L6ks5qiW5_Odm-dN-dvS72jVPXnMA_UBiIeWyeG5IS_FGSoepLpNcBS0i9st6BLxJb371xIZL_b_oocqt2E0lNQSWoD5ac34zeBiVIr6KBsAsG59irAFFNDOYKrQ9MZm8CCIY0_JqhHIsB5rEkzHgRD');
  width: 100%;
  height: auto;
  background-color: rgb(133 50 78);
  margin-top: 100px;
  text-align: center;
}
/* redy get started heading */

.connect h2{
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 50px 0px 0px 0px;
}
/* redy get started paragraph */

.connect p{
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
/* redy get started button */

.connect button{
  width: 200px;
  font-size: 25px;
  height: 80px;
  margin-top: 40px;
  background-color: rgba(0,128,128, 0.6);
}
.connect button:hover{
background-color: grey;
}

.profile-card-4 {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
}

.profile-card-4 img {
    transition: all 0.25s linear;
    height: 250px;
}

.profile-card-4 .profile-content {
    position: relative;
    padding: 15px;
    background-color: #FFF;
}

.profile-card-4 .profile-name {
    font-weight: bold;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -70px;
    color: #FFF;
    font-size: 17px;
}

.profile-card-4 .profile-name p {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
    color: #777;
    font-size: 15px;
    padding: 10px;
}

.profile-card-4 .profile-overview {
    padding: 15px 0px;
}

.profile-card-4 .profile-overview p {
    font-size: 12px;
    font-weight: 600;
    color: #777;
}

.profile-card-4 .profile-overview h4 {
    color: #273751;
    font-weight: bold;
}

.profile-card-4 .profile-content::before {
    content: "";
    position: absolute;
    height: 20px;
    top: -10px;
    left: 0px;
    right: 0px;
    background-color: #FFF;
    z-index: 0;
    transform: skewY(3deg);
}

.profile-card-4:hover img {
    transform: rotate(5deg) scale(1.1, 1.1);
    filter: brightness(110%);
}

.profile-card-4 button{
  border:none;
  height: 40px;
  width: 110px;
  background-color: gray;
  font-size: 15px;
  font-weight: bold;
  color:white;
  border-radius: 5px;
  margin-bottom: 10px;
}



html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.pb100 {
    padding-bottom: 100px;
}

.pt100 {
    padding-top: 100px;
	}
	
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}


.counter-section {
  background: url(../../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}

.counter-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.89);
}

.count-items {
  text-align: center;
  padding: 50px 20px;
  border-radius: 100%;
  border-bottom: 3px dotted #666;
  border-top: 3px dotted #666;
}
.count-items:hover.count-items i{
  color: #ffaf53
}
.count-items:hover.count-items h2{
  color: #f35b68
}
.count-items i {
  color: #f35b68;
  font-size: 36px;
}

.count-items span {
  color: #fff;
  font-size: 36px;
  padding: 20px 0px;
  display: inherit;
  font-weight: 700;
}

.count-items h2 {
  font-size: 16px;
  color: #ffaf53;
}
.funfact {
  margin-top: 50px;
  text-align: right;
}

.funfact h2 {
    color: #ffaf53;
    font-size: 42px;
    font-weight: 700;
    position: relative;

}
.funfact h2:after {
position: absolute;
content: "";
width: 115px;
height: 2px;
background:#fff;
right: 0px;
bottom: -24px;


}
.funfact p {
  line-height: 24px;
  font-size: 16px;
  margin-top: 50px;
  color: #e1e1e1;
}
a.site-btn.transition-ease.quote-btn {
  padding:14px 28px;
  background: #f35b68;
}
.site-btn.header-quote-btn:hover {

    background: transparent;
    color: #252525;

}
.site-btn.header-quote-btn {
padding:14px 28px;
background: #f35b68;
  background: linear-gradient(to right, #f35b68, #ffaf53);
  margin-left: 20px;
text-transform: capitalize;
background-origin: border-box ;
}
#marquee-container {
  padding: 20px 0px;
}


.fix {
    overflow: hidden;
}

