<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examination</title>
    <link rel="stylesheet" type="text/css" href="css/training/exam.css">
</head>

<body>

    <div class="container-fluid banner">
        <div class="row">
            <div class="col">
                <div class="image">
                    <img src="img/logo4.png">
                </div>

                <h1>HUBIT TRAINING AND<br> SOLUTION</h1>
            </div>
        </div>
    </div>


    <div class="conatiner-fluid form">
        <h1>LOOK RESULTS ONLINE</h1>
        <div class="input-group  row mb-3">
            <div class="col">
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter you Registration Number">

            </div>
        </div>

        <div class="input-group  row mb-3">
            <div class="col">
                <div class="button">
                    <button>Sumbit</button>

                </div>
            </div>
        </div>

    </div>








</body>

</html>